.git
.git/**
.github
node_modules
dist
build
coverage
.nitro
.output
*.tgz
*.log*
.env
.env.*
.DS_Store
.vscode
.idea
.lh
.claude-flow
.swarm
.hive-mind
memory
coordination
playwright-report
test-results
